.header {
  display: flex;
  justify-content: space-evenly;

  height: 80px;
  width: 100%;
  width: 100vw;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
}
.nav li {
  padding-top: 20px;
  margin-left: 35px;
  height: 40px;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(26, 20, 20);
}

.newAccountButton {
  border: 2px solid rgb(34, 175, 29);
  background-color: rgb(34, 175, 29);
  color: #fff;
}

.signInButton {
  border: 2px solid rgb(34, 175, 29);
  background: #fff;
}

.nav li:hover {
  border-bottom: 3.5px solid rgb(34, 175, 29);
  transition: ease;
}
